
<div class="modal-form-group">
    <label for="diagnoserFirstName">First Name</label>
    <input type="text" id="diagnoserFirstName" data-bind="value: FirstName" class="input-large"/>
</div>
<div class="modal-form-group">
    <label for="diagnoserLastName">Last Name</label>
    <input type="text" id="diagnoserLastName" data-bind="value: LastName" class="input-large"/>
</div>
<div>
    <label for="diagnoserNPI">National Provider Identifier</label>
    <input type="text" id="diagnoserNPI" data-bind="value: NPI" class="input-large"/>
</div>
<div class="modal-form-group">
    <label for="diagnoserPhone">Phone</label>
    <input type="text" id="diagnoserPhone" data-bind="value: Phone" class="input-large"/>
</div>
<div class="modal-form-group">
    <label for="diagnoserAltPhone">Alt. Phone</label>
    <input type="text" id="diagnoserAltPhone" data-bind="value: AltPhone" class="input-large"/>
</div>
<div >
    <label for="diagnoserPager">Pager</label>
    <input type="text" id="Text4" data-bind="value: Pager" class="input-large"/>
</div>
<div >
    <label for="diagnoserStreetAddress">Street Address</label>
    <input type="text" id="StreetAddressTextBox" data-bind="value: StreetAddress" class="span11"/>
</div>
<div class="modal-form-group">
    <label for="diagnoserCity">City</label>
    <input type="text" id="Text1" data-bind="value: City" class="input-large"/>
</div>
<div class="modal-form-group">
    <label for="diagnoserState">State</label>
    <input type="text" id="Text2" data-bind="value: State" class="input-large"/>
</div>
<div class="modal-form-group">
    <label for="diagnoserZipCode">Postal Code</label>
    <input type="text" id="Text3" data-bind="value: ZipCode" class="input-large"/>
</div>
<div >
    <label for="diagnoserEmail">Email</label>
    <input type="text" id="Email" data-bind="value: Email" class="input-large"/>
</div>
